#section_expectations {
  #google_map {
    width: 100%;
  }
@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
  background-color: $red;
  color: $white;
  #google_map { height: 400px; }
} //media
@media (min-width: 1024px) {
  .wrapper--section_expectations {
    position: relative;
  }
  .section_expectations_desc {
    position: absolute;
    right: 20px;
    top: 0;
    width: 600px;
    padding: 60px 40px;
    background-color: $red;
    color: $white;
    z-index: 1;
    line-height: 1.2em;
    font-size: 15px;
    text-align: justify;
    p {
      margin-bottom: 0.5em;
    }
  }
  #google_map { height: 600px; }
} //media
} //#section_expectations
