#section_skills {
  overflow: hidden; //to prevent page jumping
  background-image: url('../img/d509c2a8becfa61e9a33b7d275a866328395bd9a.png');
  background-attachment: fixed;
  color: $white;
  .section_skills_el_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .section_skills_el {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    // background-color: rgba(0,0,0,.4);
    margin-bottom: 30px;
    flex-basis: calc(50% - 15px);
  }
  .section_skills_el--fa::before {
    flex-shrink: 0;
    content: '';
    font-size: 3em;
    margin-right: 20px;
    border: 2px solid white;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
    font-family: $awesome;
    line-height: 1.5em;
  }
  svg {
    flex-shrink: 0;
    font-size: 3em;
    margin-right: 20px;
    border: 2px solid white;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    fill: $white;
  }
  .section_skills_el--hmtl::before {content: '\f13b';}
  .section_skills_el--css::before {content: '\f13c';}
  .section_skills_el--rwd::before {content: '\f065';}
  .section_skills_el--twig::before {content: '{{ }}';}
  .section_skills_el--sass svg {
    border: 0;
    border-radius: 0;
  }
  .section_skills_el--javascript svg {
    border: 0;
    // border-radius: 0;
  }
  .section_skills_el--jquery svg {
    padding: 10px;
  }
  .section_skills_el--twig::before {
    font-family: inherit;
    width: 72px;
    height: 72px;
    line-height: calc(72px - 4px);
    font-weight: normal;
    font-size: 36px;
  }
  .section_skills_el_content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    p {line-height: 1.4em;}
  }
  .section_skills_el_title {
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 10px;
  }


@media (max-width: 767px) {
  .section_skills_el {
    padding: 0;
    // margin-bottom: 30px;
    // flex-basis: 350px;
    &::before {
      // margin-right: 20px;
    }
  }
} //media
@media (min-width: 768px) {
  .section_skills_el {
    padding: 10px 20px;
    margin-bottom: 30px;
  }
} //media
@media (max-width: 1023px) {
  .section_skills_el {
    flex-basis: 100%;
  }
} //media
@media (min-width: 1024px) {
} //media
} //#section_skills
