#section_skills {
  background-image: url('../img/d509c2a8becfa61e9a33b7d275a866328395bd9a.png');
  background-attachment: fixed;
  color: $white;
  .wrapper.-section_skills {
    display: flex;
    flex-wrap: wrap;
  }
  .heading.-section_skills {
    flex-basis: 100%;
  }
  .section_skills_el {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    background-color: rgba(0,0,0,.4);
    min-height: 68px;
    margin-bottom: 30px;
    &::before {
      content: '\f13b';
      font-family: $awesome;
      font-size: 3em;
      margin-right: 20px;
      border: 2px solid white;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      border-radius: 50%;
      line-height: 1.5em;
    }
  }
  .section_skills_el_content {
    display: flex;
    flex-direction: column;
  }
  .section_skills_el_title {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 10px;
  }


@media (max-width: 767px) {
} //media
@media (min-width: 768px) {
} //media
@media (max-width: 1023px) {
} //media
@media (min-width: 1024px) {
} //media
} //#section_skills
