#section_experience {
  .section_experience_icon::before {
    font-family: $awesome;
    font-size: 2em;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border: 2px solid $color2;
    display: block;
    text-align: center;
    border-radius: 50%;
  }
    .section_experience_icon.--work::before {
      content: '\f0b1';
    }
    .section_experience_icon.--school::before {
      content: '\f19d';
      margin-top: 50px;
    }
  .section_experience_el {
    border-left: 2px solid $color2;
    margin-left: 25px;
    padding-left: 25px;
    padding-top: 50px;
    position: relative;
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      background-color: $red;
      border: 2px solid $background;
      border-radius: 50%;
      position: absolute;
      left: -8px;
      top: 52px;
    }
  }
  .section_experience_el_title {
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .section_experience_el_date {
    font-size: 0.9em;
    color: $color2;
    display: block;
    // transform: skewX(-15deg);
    margin-bottom: 10px;
    &::before {
      content: '\f133';
      font-family: $awesome;
      margin-right: 10px;
    }
  }
  .section_experience_el_desc {
    // color: $color2;
  }
@media (max-width: 767px) {

} //media
@media (min-width: 768px) {

} //media
@media (max-width: 1023px) {

} //media
@media (min-width: 1024px) {

} //media
} //#section_experience
