#section_experience {
  .section_experience_icon::before {
    font-family: $awesome;
    font-size: 2em;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border: 2px solid $color2;
    display: block;
    text-align: center;
    border-radius: 50%;
  }
  .section_experience_icon.--work::before {
    content: '\f0b1';
  }
  .section_experience_icon.--school::before {
    content: '\f19d';
  }
  .section_experience_el {
    border-left-width: 2px;
    border-style: solid;
    border-color: $color2;
    margin-left: 25px;
    padding-top: 50px;
    padding-left: 25px;
    position: relative;
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      background-color: $red;
      border: 2px solid $background;
      border-radius: 50%;
      position: absolute;
      left: -8px;
      top: 52px;
    }
    &:last-of-type {
      padding-bottom: 15px;
    }
  }
  .section_experience_el_title {
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .section_experience_el_date {
    font-size: 0.9em;
    color: $color2;
    display: block;
    // transform: skewX(-15deg);
    margin-bottom: 10px;
    &::before {
      content: '\f133';
      font-family: $awesome;
      margin-right: 10px;
    }
  }
  .section_experience_el_desc {
    line-height: 1.5em;
    max-width: 500px;
    a {
      font-weight: 500;
      text-decoration: underline;
    }
  }

@media (max-width: 767px) {

} //media
@media (min-width: 768px) {

} //media
@media (max-width: 1023px) {
  .section_experience_icon.--school::before {
    margin-top: 50px;
  }
} //media
@media (min-width: 1024px) {
  .section_experience_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section_experience_heading {
    flex-basis: 100%;
  }
  .section_experience_side {
    flex-basis: calc(50% - 15px);
  }
  .section_experience_side.--left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    .section_experience_el {
      border-left-width: 0;
      border-right-width: 2px;
      margin-left: 0;
      padding-left: 0;
      margin-right: 25px;
      padding-right: 25px;
    }
    .section_experience_el::before {
      left: auto;
      right: -8px;
    }
  }
} //media
} //#section_experience
