// ################ VARIABLES ONLY ###########
$font_default: 'Roboto', sans-serif;
$font2: 'Oswald', sans-serif;
$font_weight: 300;
$font_size: 16px;
$awesome: 'FontAwesome';

$wrapper:1178px; //without padding
$padding: 15px;

$color1: #35383f;
$color2: #888888;

$background: #edeff0;

$red: #E51A22;
$white: #FFFFFF;

$top_menu_height: 92px;


$blue: rgb(0,166,228);
$blue2: rgb(15, 87, 149);
$blue3: rgb(13, 75, 130); //unofficial, for inputs
