@page {
  size: A4;
}
@media print {
[data-aos] {
  opacity: 1 !important;
  transform: none !important;
}
  #section_experience {
    .section_experience_side {
      //@include section_experience_side_reverse;
      .section_experience_icon {
        display: none;
      }
    }
  }
} //@media print
